.taskDiv{
    padding: 10px 15px;
    border: 2px solid grey;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 10px auto;
    font-weight: bold;
}

.taskDiv span{
    margin: 0;
}

.removeTaskButton{
    font-size: large;
    border: 2px solid grey;
    margin: 0 0 0 25px;
    border-radius: 10px;
    width: 100px;
    height: 40px;

    background-color: rgb(0, 186, 214);
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    transition: background-color .3s;
}

.removeTaskButton:hover{
    background-color: aqua;
}

.check{
    fill: white;
    width: 20px;
}

.title{
    font-size: 1.5rem;
    flex: 1;
}

.priorityDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 175px;
}

.low, .medium, .high{
    color: white;
    padding: 2px 7px;
    border: 2px solid;
    border-radius: 10px;
    font-weight: bold;
}

.low{
    background-color: green;
    border-color: rgb(110, 184, 0);
}

.medium{
    background-color: rgb(136, 88, 0);
    border-color: rgb(225, 146, 0);
}

.high{
    background-color: rgb(136, 0, 0);
    border-color: rgb(255, 0, 0);
}

.createdAt{
    font-size: 1.3rem;
}
